<link href="~/css/Login.css" rel="stylesheet">


@model SisRHDefinitivo.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login SisRH";
}

@using (
  Html.BeginForm("Login",
                 "SisRh",
                 FormMethod.Post))
{
    //cria a tag do formulário
    @Html.AntiForgeryToken()
    // previne o ataque CSRF
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">
            <b>Login</b>
        </legend>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4" id="NM_Funcionario">
                @(Html.LabelFor(m => m.id_login, new { @class = "control-label" }))
                @(Html.TextBoxFor(m => m.id_login, htmlAttributes: new { @class = "form-control" }))
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4" id="NM_Funcionario">
                @Html.LabelFor(login => login.senha_login)
                @Html.PasswordFor(login => login.senha_login)
                @Html.ValidationMessageFor(login => login.senha_login)
                <input type="submit" value="Login" />
            </div>
        </div>
        <div class="image">
            <img src="~/css/WhatsApp Image 2023-10-23 at 22.00.24.jpeg" whidth="0px">
        </div>
    </fieldset>
    @*  @section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
  *@
}



