@model SisRHDefinitivo.Mvc.Adm.ViewModels.Funcionario.IndexViewModel

<link href="~/css/Index.css" rel="stylesheet">

<style>
    .custom-button {
        background: linear-gradient(to right, rgb(0, 252, 168), rgb(28, 218, 255));
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 7px;
    }
</style>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">
        <b><i> Consulta de Funcionarios</i></b>
    </legend>
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7">
            @(Html.LabelFor(m => m.DadosFuncionario.primeiro_nm_func, new { @class = "control-label" }))
            @(Html.TextBoxFor(m => m.DadosFuncionario.primeiro_nm_func, htmlAttributes: new { @placeholder = "Nome", @class = "form-control" }))
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            @(Html.LabelFor(m => m.DadosFuncionario.matricula_func, new { @class = "control-label" }))
            @(Html.TextBoxFor(m => m.DadosFuncionario.matricula_func, htmlAttributes: new { @placeholder = "Prontuario", @class = "form-control" }))
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <a class="custom-button" role="button" asp-action="Search"><i class="fa fa-search"></i>&nbsp;&nbsp;<span>Pesquisar</span></a>
        </div>
    </div>
</fieldset>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4" id="ID_New">
        <a href="@Url.Action("New")" class="btn btn-labeled btn-primary"> <span class="btn-label"><i class="bi bi-0-circle"></i></span>Adicionar</a>
    </div>
</div>
<script src="~/js/site.js"></script>
